.list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item {
  padding: 10px;
  width: 188.8px;
  outline: 1px solid darkgray;
}

.link {
  color: black;
}

.title {
  margin-top: 10px;
}
